<div class="nav">
    <div class="nav-btn" ng-click="toggleNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>
<div class="nav-bar">
    <span class="nav-bar-close-btn icon-close" ng-click="toggleNav()"></span>
    <div class="nav-list">
        <ul>
            <li><a class="important-link" id="open-login-btn"><div class="nav-icon"><span class="icon-user"></span></div>sign in</a></li>
            <li><a href="reg_seller.html" class="important-link"><div class="nav-icon"><span class="icon-market"></span></div>For seller or market</a></li>
            <li><a href="#">How this work?</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="nav-social">
            <a href="#"><span class="icon-fb"></span></a>
            <a href="#"><span class="icon-instagram"></span></a>
            <a href="#"><span class="icon-in"></span></a>
        </div>
    </div>
</div>
