<div class="popup-background"></div>
<div class="row page-title" style="background-image: url('assets/images/img/BoroughMarketTomatoes.jpg')">
    <div class="title">
        <a href="market_detail.html"><h1>AmMarket</h1></a>

        <p>Amsterdam, st. Sters, 34</p>

    </div>
</div>

<div class="row main-content">
    <div class="content">
        <div class="items-tools">
            <div class="item-result">
                235 results
            </div>
            <div class="item-filter">
                <div class="sort">
                    <span>Sort to:</span>
                    <a href="#" class="blue-link">Relevant ↓</a>
                </div>
                <div class="tabs">
                    <button class="btn offer-btn selected"><span class="btn-icon icon-offers"></span>Offer</button>
                    <button class="btn seller-btn "><span class="btn-icon icon-user"></span>Sellers</button>
                </div>
            </div>
        </div>
        <div class="tabs-content">
            <div class="items offer-items show-items">

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="seller-Offers.html">
                        <div class="item-img" style="background-image: url('assets/images/img/spring-produce-2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-Offers.html">
                                <div class="item-title">Oranges</div>
                            </a>

                            <div class="item-data"><span class="icon-clock"></span> On <strong>13 Jul</strong> By:
                                <strong>18 jul</strong></div>
                        </div>
                        <div class="item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque ullamcorper
                            sagittis. Pellentesque blandit dignissim nunc vitae sodales.
                        </div>
                    </div>
                </div>

                <a href="#" class="btn white-btn">SEE MORE</a>
            </div>
            <div class="items seller-items">
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/125968939_14-660x440.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Heather Moore</div>
                            </a>
                            <button class="btn follow-btn follower">Follower</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/125968939_14-660x440.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Heather Moore</div>
                            </a>
                            <button class="btn follow-btn follower">Follower</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/125968939_14-660x440.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Heather Moore</div>
                            </a>
                            <button class="btn follow-btn follower">Follower</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/125968939_14-660x440.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Heather Moore</div>
                            </a>
                            <button class="btn follow-btn follower">Follower</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/125968939_14-660x440.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Heather Moore</div>
                            </a>
                            <button class="btn follow-btn follower">Follower</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/Farmer-s-Market---Locally-Grown--blog-.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Marketsalesman
                                    overview
                                </div>
                            </a>
                            <button class="btn follow-btn">Follow</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/markt2.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Andrea Newman</div>
                            </a>
                            <button class="btn follow-btn">Follow</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="seller-detail.html">
                        <div class="item-img" style="background-image: url('assets/images/img/market.jpg')"></div>
                    </a>

                    <div class="item-description">
                        <div class="item-info">
                            <a href="seller-detail.html">
                                <div class="item-title">Jeffrey Rice</div>
                            </a>
                            <button class="btn follow-btn">Follow</button>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn white-btn">SEE MORE</a>
            </div>
        </div>
    </div>
</div>


<div class="popup market-popup" style="z-index: 999">
    <div class="popup-content">
        <h2>Marketplace online service</h2>

        <p>Choose a trading platform easily</p>

        <form class="popup-form">
            <select name="sel" class="map" ng-model="headerCtrl.regionId" ng-change="headerCtrl.changeRegion()">
                <option value="default">Choose region</option>
                <option ng-repeat="region in headerCtrl.allRegions" value="{{region.id}}">{{region.title}}</option>
            </select>

            <select name="sel" id="sss" class="map" ng-model="headerCtrl.cityId" ng-change="headerCtrl.changeCity()">
                <option value="default">Choose city</option>
                <option ng-repeat="city in headerCtrl.allCities" value="{{city.id}}">{{city.title}}</option>
            </select>

            <select name="sel2" id="ss" class="market" ng-model="headerCtrl.marketId">
                <option value="default">Choose market</option>
                <option ng-repeat="market in headerCtrl.allMarkets" value="{{market.id}}">{{market.title}}</option>
            </select>

            <button class="btn market-btn" ng-click="headerCtrl.goListener()">Go</button>
        </form>
    </div>
</div>